*{
    font-family: 'Titillium Web', sans-serif;

}
body{
    background: rgb(25, 28, 35);
}
.form{
    height: 300px;
    width: 500px;
    margin: auto;
    color: white;
    text-align: center;
}
h1{
    letter-spacing: 15px;
    font-size: 45px;
}
p:first-of-type{
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 8px;
    color: #e6dbb9;
}
p:nth-of-type(2) a{
    opacity: 0.9;
    color: #6398a2;
    text-decoration: none;

    font-weight: bold;
    font-size: 13px;
}
