@import url(//db.onlinewebfonts.com/c/e05b78cd627ded97c38881306e3601fe?family=FuturaBookC);

*{

}
body{
    
}
html{
    background: url(../bg/image%201.jpg)  center center;
    min-height: 100%;
}
h1{
    font-family: FuturaBookC;
    background: linear-gradient(90deg, rgba(196, 196, 196, 0.64) 0%, rgba(255, 255, 255, 0.5562) 52.03%, #C4C4C4 100%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
p{
    font-family: FuturaBookC;
        background: linear-gradient(90deg, rgba(196, 196, 196, 0.64) 0%, rgba(255, 255, 255, 0.5562) 52.03%, #C4C4C4 100%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.buttons a img{
    margin: 10px;
}
.content{
    margin: 35% 0%;
    text-align: center;
}